:root {
    --dark: hsl(160, 20%, 10%);
    --light: hsl(154, 60%, 95%);
    --h_invlight: hsl(151, 20%, 50%);
    --h_light: hsl(151, 32%, 44%);
    --h_dark: hsl(176, 70%, 13%);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

html {
    overflow-y: scroll;
}

header {
    background-color: var(--h_dark);
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 100px auto;
    height: 120px;
}

.logo {
    background-image: url(Images/Logo.png);
    background-size: 120px;
    background-position: center;
    font-size: 0;
    grid-column: 1/2;
    grid-row: 1/2;
}

header .title {
    background-color: var(--h_dark);
    color: var(--light);
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    padding-top: 2pc;
}

header .title h1 {
    font-size: 28px;
}

header #nav {
    background-color: var(--h_dark);
    list-style-type: none;
    grid-column: 1/3;
    grid-row: 2/3;
}

header #nav li {
    display: inline-block;
    width: 24%;
    text-align: center;
}

header #nav li.active {
    background-color: hsl(176, 70%, 20%);
    border-radius: 10px;
}

body {
    background-color: var(--h_dark);
}

#main_bodycontainer {
    background-color: var(--h_dark);
    display: grid;
    grid-template:
    "banner banner"
    "about about"
    "achievements achievements"
    "evnt evnt"
    "members members";
}

.banner_container {
    grid-area: banner;
    background-color: var(--h_dark);
}

.backimg {
    background-color: var(--h_dark);
    background-size: 100vmax;
    font-size: 0;
    background-position: center;
    background-repeat: no-repeat;
    
}

.backimg.event_page {
    height: 225px;
    background-image: url(Images/CTC/Grp-4.jpg);
}

.backimg#cleanup1 {
    background-image: url(Images/CTC/Grp-4.jpg);
    height: 225px;
    border-radius: 15px;
}

.backimg div {
    background-color: hsla(0, 0%, 0%, 0.75);
    padding: 20px 9%;
    width: 65%;
    height: auto;
    margin: 70px 9%;
    color: var(--light);
    font-size: 20px;
    text-align: center;
    border: 1px solid var(--light);
    transition: transform 0.2s;
}

.backimg div:hover {
    transform: scale(100.75%);
}

a {
    color: hsl(154, 20%, 85%);
    text-decoration: none;
}

a:hover {
    color: var(--light);
}

.header {
    background-color: var(--h_dark);
    color: var(--light);
    padding: 7px 25% 10px 25%;
    height: 25px;
}

.header h2 {
    text-align: center;
}

.txt {
    background-color: var(--h_light);
    color: var(--h_dark);
    text-align: justify;
    padding: 10px 20px 15px 20px;
}

.txt p {
    margin-bottom: auto;
}

.abt.content {
    grid-area: about;
    background-color: var(--h_light);
}

.abt.backimg {
    background-color: var(--h_light);
    background-image: url(Images/PCU/PCU6-Mankhool.jpg);
    background-size: 100% auto;
    background-position: center;
    font-size: 0;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
}

.achievements {
    grid-area: achievements;
    height: 400px;
    
}

.achievements .txt {
    height: 330px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.achievement {
    background-color: hsla(176, 70%, 13%, 0.219);
    margin: 15px 0;
    padding: 15px;
    border-radius: 15px;
}

.achievement:first-child {
    margin-top: 0;
}

.achievement:last-child {
    margin-bottom: 0;
}

#member_container, #evnt_container {
    background-color: var(--h_light);
    display: inline;
}

#member_container {
    grid-area: members;
}

ul.hlist {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

::-webkit-scrollbar {width: 0;}

ul.hlist li {
    margin: 10px 35px 0 10px;
    display: inline-block;
}

div.icon {
    background-color: var(--h_dark);
    background-size: 100%;
    transition: background-size 0.2s;
    background-position: center;
    font-size: 0;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid var(--h_dark);
}

div.icon:hover {
    background-size: 110%;
}

p.subtitle {
    font-size: x-small;
    text-align: center;
    color: var(--light);
}

#evnt_container {
    grid-area: evnt;
}

#evnt_container .header {
    margin-bottom: 5px;
}

li.evnt {
    padding: 5px 0 0 10px;
    height: 300px;
    width: 200px;
    border-radius: 15px;
    transition: transform 0.1s;
}

li.evnt:hover {
    transform: scale(101%);
}

li.evnt p, li.evnt a {color: var(--h_dark);}
li.evnt a {text-decoration: underline;}
li.evnt a:hover {text-decoration: none;}
li.evnt .loc_img {
    background-color: rgb(0, 0, 0);
    background-image: url('#');
    font-size: 0;
    margin: 10px 0 0 -10px;
    border-radius: 15px;
    height: 220px;
}
li.evnt .loc_img:hover {background-size: 110%;}

.loc-sand {background-color: hsl(39, 80%, 60%);}
.loc-green {background-color: hsl(123, 80%, 60%);}
.loc-water {background-color: hsl(207, 80%, 60%);}

footer {
    background-color: var(--h_dark);
    color: var(--light);
    padding: 30px 20px;
    text-align: center;
}

#profile-banner {
    background-color: var(--h_light);
    padding-bottom: 20px;
}

div.icon.profile {
    height: 200px;
    width: 200px;
    margin: 30px auto 10px auto;
}

#profile-banner h3, #profile-banner p {
    margin: 0 auto;
    text-align: center;
    color: var(--h_dark);
}

#profile-banner h3 {
    margin-bottom: 10px;
    font-size: 25px;
}

.profile.txt p {
    font-size: 20px;
    margin-bottom: 20px;
}

.profile.txt p strong {
    font-size: 25px;
}

.profile.txt p em {
    color: var(--light);
    text-decoration: underline;
}

#main_bodycontainer-events {
    background-color: var(--h_light);
    display: grid;
    grid-template-areas:
    "banner banner"
    "evnt evnt"
    "members members";
}

#main_bodycontainer-events #evnt_container {
    grid-area: evnt;
}

#main_bodycontainer-events ul.evnts {
    height: 390px;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

#main_bodycontainer-events li.evnt {
    height: 350px;
    width: 90%;
    margin: 20px 4.25%;
    display: list-item;
    scroll-snap-align: center;
}

#main_bodycontainer-events li.evnt:first-child {
    margin-top: 17.5px;
}

#main_bodycontainer-events li.evnt .loc_img {
    height: 270px;
}

#main_bodycontainer-events #member_container {
    grid-area: members;
}

#mainbodycontainer-gallery {
    background-color: var(--h_dark);
}

img#Display {
    width: 100%;
    border-radius: 20px;
}

.gallery.images {
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    background-color: var(--h_light);
}

.gallery.images img {
    background-color: var(--h_dark);
    height: 90px;
    width: 90px;
    border: 5px solid var(--h_dark);
    position: sticky;
    border-radius: 20px;
    object-fit: cover;
    transition: width 0.2s, height 0.2s, margin 0.2s;
    margin: 10px;
}

.gallery.images input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.gallery.images input[type="radio"]:checked + img {
    height: 100px;
    width: 100px;
    margin: 5px;
}

@media screen and (min-width: 800px) {
    #main_bodycontainer {
        grid-template:
        "banner banner banner"
        "about about members"
        "achievements achievements members"
        "evnt evnt evnt";
    }

    .backimg#cleanup1 {
        padding: 8% 0;
    }

    #member_container {
        width: 180px;
    }

    .header {
        height: 20px;
        padding: 10px 0 18px 0;
    }

    #member_container .header {
        border-radius: 0 0 15px 0;
    }

    .abt.header {
        border-radius: 0 0 0 15px;
    }

    .abt.txt {
        height: 100px;
    }

    .abt.backimg {
        height: 300px;
    }

    .achievements .header {
        border-radius: 0 15px 15px 0;
    }

    #member_container ul.hlist {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 846px;
    }

    #member_container li.icon {
        display: list-item;
        margin-left: 60px;
    }

    #member_container li.icon * {
        display: flex;
    }

    #member_container li.icon p.subtitle {
        font-size: 8px;
        width: 65px;
        background-color: var(--h_dark);
        padding: 2px 0 2px 5px;
        border-radius: 10px;
    }

    #main_bodycontainer-events {
        grid-template-areas:
        "banner banner banner"
        "evnt evnt members";
    }

    #main_bodycontainer-events #evnt_container {
        width: calc(100vw - 180px);
    }

    #main_bodycontainer-events #member_container {
        height: 442px;
    }

    #main_bodycontainer-events #evnt_container .header {
        border-radius: 0 0 0 15px;
    }
}