section.eventList {
  padding: 20px;
  padding-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section.eventList * {
  color: var(--W);
}

section.eventList h2 {
  background-color: var(--G3);
  padding: 10px 0;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 8px;
}

.eventsList {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.eventsList li {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.eventsList li:nth-child(odd):last-child {
  width: 100%;
}

.event {
  background-color: var(--G3);
  border-radius: 8px;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.25);
  padding: 30px;
  min-width: calc(100% - 60px);
}

.event .imgBx {
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}

.event .imgBx img {
  position: absolute;
  background-color: var(--G3);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  outline: var(--B) solid 2px;
}

.event h4 {
  font-size: 1.5em;
}

.detail a:hover {
  text-decoration: none;
}

.detail {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 10px;
}

@media only screen and (min-width: 1000px) {
  .eventsList {
    flex-wrap: wrap;
  }

  .eventsList li {
    width: calc(50% - 10px);
  }
}
